body {
    background-color: #817070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------- */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    width: 100%;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__li {
    margin-right: 10px;
}

/* -------------------------------- */

.material-symbols-outlined {
    color: #817070;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' -25,
            'opsz' 56
}

.material-symbols-outlined:hover {
    color: white;
}

/* -------------------------------- */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}