body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* -------------------------------- */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #b3fe73;
    align-items: center;
    height: 35px;
    width: 1028px;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__li {
    margin-right: 10px;
}

/* -------------------------------- */

.material-symbols-outlined {
    color: #b3fe73;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' -25,
            'opsz' 56
}

.material-symbols-outlined:hover {
    color: white;
}

/* -------------------------------- */
	
.main-wrap {
    border: 6px solid #BFE2FF;
    width: 1050px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}        
.text-bg {
    line-height: 0.5;  
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.1);
    word-break: break-all;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;   
    font-weight: bold;
}

/* -------------------------------- */

.footer {
    width: 1027px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer__text {
    display: flex;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    font-size: large;
    color: black;
    background-color: white;
}